

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    background-color: lightyellow;}


p {    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    background-color: lightgrey;}

.img {
    background-image: url('./img/img.webp');
  background-size: cover;        
  background-repeat: no-repeat;   
  background-position: center;    
  padding: 20px;                  
  color: white;                  

}

.img:hover{
    width: 100px;
    height: auto;
    border-radius: 30%;
    background-color: lightblue;
    color:black
}

a {
    text-decoration: none;
    color: black;
}

